<div (click) = "navigateTo(item)" class = "navigation"  *ngFor = "let item of navItemsDisplay" >  {{item}}</div>
<div *ngIf ="showTable != true" class="price-table-wrapper">
  <ul class="pricing-table__list">
    <li (click) = "chooseEntryType(item)"  *ngFor = "let item of items">{{item}}</li>
</ul>
</div>
<html *ngIf ="showTable == true">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid black;
}

tr:nth-child(even){background-color: #f2f2f2}
</style>
</head>
<body>


<div style="overflow-x:auto;">
    <table>
    <tr><th colspan = "9">{{tableHeader}}</th>
    </tr>
      <tr>
        <th colspan = "5"></th>
        <th colspan = "3" style = "border:none">Progress this Week</th>
        <th></th>
      </tr>
       <tr>
        <th>Activity</th>
        <th>UOM</th>
        <th>Total</th>
        <th>Completed</th>
        <th>%Completed</th>
        <th>Week-Predicted</th>
        <th>Week-Actual</th>
        <th>Delta %</th>
        <th>EDC</th>
       </tr>
        <tr *ngFor = "let activity of activities"><td>{{activity}}</td>
          <td>mts</td>
          <td>67</td>
          <td>67</td>
          <td>67</td>
          <td>67</td>
          <td>67</td>
          <td>67</td>
          <td>67</td>
      </tr>
    </table>
  </div>
  <div style = "display: inline-block; height:50px; margin-top: 20px">Enter for Date</div> <div style = "height:50px; display: inline-block; margin-left: 20px"> 21-Sep-2018</div>
  <div style="overflow-x:auto;">
    <table>
      <tr>
        <th>Activity</th>
        <th>UOM</th>
        <th>Tools</th>
        <th>Man Power</th>
        <th>UOM</th>
        <th>DP</th>
        <th>Concerns</th>
      </tr>
      <tr *ngFor = "let activity of activities">
        <td>{{activity}}</td>
        <td>mts</td>
        <td>50</td>
        <td>50</td>
        <td>mts</td>
        <td style = "background-color : skyblue; width: 30px"><input style = "
          width: 30px; 
          background-color: azure;
          border-radius: 5px;
          height: 23px;" #name /></td>
        <td  style = "background-color : skyblue; width: 30px"><input placeholder = 'Remarks' style = "
          width: 180px; 
          background-color: azure;
          border-radius: 5px;
          height: 23px;" #name /></td>
    </tr>
    </table>
  </div>
  
  <button style = "height:40px; margin-top: 20px; border-radius: 7px">Submit</button>
  
  </body>
  </html>
<router-outlet></router-outlet>